body{
    background-color: #f5f6fa;
}

.left-menu-bar{
    height: 88vh;
    padding-left: 46px;
    position: sticky;
    top: 4rem;
    margin-top: 4rem;
}

.select-user-card{
    background-color: #e6f1ff;
    padding: 3rem !important;
}

.session_item_flex{
    gap: .5rem;
}

.session-item-flex{
    cursor: pointer;
    border-bottom: 1px solid #D9D9D9; 
}

.session-item-card{
    max-height: 192px;
    overflow-y: auto;
}

.session-item-text{
    font-size: .9rem;
}

/* Loader style */

.loader{
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }